<!DOCTYPE html>
<html>
   <head>
      <title>Add User</title>
   </head>
   <body>
      <h3>User form</h3>
      <!-- Form for the /add route to use -->
      <form action="/add" method="POST">
         <label>Username</label>
         <input type="text" name="username" placeholder="Username...">
         <label>Email</label>
         <input type="text" name= "email" placeholder="Email...">
         <label>Age</label>
         <input type="number" name="age" placeholder="age..">
         <button type="submit">Add</button>
      </form>
   </body>
</html>